body {
	background-color: #f7d7fc;
	text-align: center;
	color: white; 
	font-family: "Georgia"; 
}

figcaption {
	color: white; 
	font-family: "Georgia";
	font-size: 40px;
}

img.scrnshot {
  width: 270px;
  border: 1px solid black;
}
